.main-content {
  display: block;
  margin-left: 250px;
  overflow: hidden;
  transition: margin-left 0.5s ease;

  @include breakpoint-down(medium) {
    margin-left: 0;
  }

  &--full {
    margin-left: 0;
  }

  & .pages-content {
    width: 100%;
    position: relative;
    min-height: calc(100vh - 70px);
    padding: 23px 8px 52px;
  }
}

.container-fluid {
  padding: 0 12px;
}

.page-title-box {
  padding-bottom: 24px;

  & h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
  }
}
