.main-content {
  display: block;
  margin-left: 250px;
  overflow: hidden;

  & .pages-content {
    width: 100%;
    position: relative;
    min-height: calc(100vh - 70px);
    padding: 0 8px 52px;
  }
}
