.counter-badge {
  padding: 0 0.6em;
  font-size: 10px;
  color: white;
  background-color: var(--sg-color-danger);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
