.topbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.navbar-header {
  height: 70px;
  padding-right: 12px;
}

.btn-header {
  border: none;
  border-radius: 0;
  color: var(--sg-color-item-header);
  cursor: pointer;
  padding: 0 0.75rem;
  height: 36px;
}

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #f6f6f6;
  padding: 3px;
}

.btn-nav {
  background-color: transparent;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8125rem;
}

.btn-group-dropdown {
  height: 100%;
  position: relative;

  @include breakpoint-down('medium-sm') {
    position: static;
  }

  & .btn-nav {
    position: relative;
  }
}

.noti-icon .counter-badge {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sg-menu-dd {
  position: absolute;
  top: 53px;
  left: auto;
  right: 0;
  background: white;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  border-radius: 0.25rem;
  border: 0 solid rgba(0, 0, 0, 0.15);
  color: var(--sg-color-primary);
  z-index: 1;
  display: none;
  animation-name: DropDownSlide;
  animation-duration: 0.3s;

  @include breakpoint-down('medium-sm') {
    left: 10px;
    right: 10px;
  }

  &--md {
    width: 320px;

    @include breakpoint-down('medium-sm') {
      width: auto;
    }
  }

  &.show {
    display: block;
  }
}

.menu-item {
  display: block;
  width: 100%;
  padding: 0.35rem 1.5rem;
  font-weight: 400;
  color: var(--sg-color-item-dd);
  white-space: nowrap;

  &:hover {
    background: var(--sg-color-bg-item-dd);
    color: var(--sg-color-menu-item-hover);
  }

  &--last {
    padding: 0.3rem 1.5rem 0.59rem;
  }

  &--notif {
    padding: 0.75rem 1rem;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 9px;
  }

  &__body {
    & h6 {
      font-size: 0.8125rem;
    }
  }
}

a.notif-anchor {
  padding: 0.325rem 1.5rem 0.7rem;

  &:hover {
    color: var(--sg-color-blue-strong) !important;
  }
}

@keyframes DropDownSlide {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
