.topbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.navbar-header {
  height: 70px;
  padding-right: 12px;
}

.btn-header {
  border: none;
  border-radius: 0;
  color: var(--sg-color-item-header);
  cursor: pointer;
  padding: 0 0.75rem;
}

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #f6f6f6;
  padding: 3px;
}

.btn-nav {
  background-color: transparent;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8125rem;
}

.btn-group-dropdown {
  height: 100%;

  & .btn-nav {
    position: relative;
  }
}

.noti-icon .counter-badge {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sg-menu-dd {
  position: absolute;
  top: 70px;
  left: auto;
  right: -10px;
  background: white;
  max-width: 280px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  border-radius: 0.25rem;
  border: 0 solid rgba(0, 0, 0, 0.15);
  color: var(--sg-color-primary);
  z-index: 1;

  &--size {
    width: 320px;
  }
}

.notificacion-item {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-weight: 400;
  color: var(--sg-color-item-dd);

  &:hover {
    background: var(--sg-color-bg-item-dd);
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 9px;
  }

  &__body {
    & h6 {
      font-size: 0.8125rem;
    }
  }
}
