<div class="row">
  <div class="col-12">
    <div class="page-title-box flex-space-between">
      <h4>{{ title }}</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <sg-simple-card [title]="'Buttons'">
      <p class="card-desc">
        Propiedad input [buttonStyle]="'secondary'", [buttonStyle]="'success'",
        etc
      </p>
      <div class="buttons-items">
        <sg-button
          (clicked)="onClickButton('primary')"
          [buttonStyle]="'primary'"
          >primary</sg-button
        >
        <sg-button [buttonStyle]="'secondary'">secondary</sg-button>
        <sg-button [buttonStyle]="'success'">success</sg-button>
        <sg-button [buttonStyle]="'info'">info</sg-button>
        <sg-button [buttonStyle]="'warning'">warning</sg-button>
        <sg-button [buttonStyle]="'danger'">danger</sg-button>
        <sg-button [buttonStyle]="'dark'">dark</sg-button>
        <sg-button [buttonStyle]="'link'">link</sg-button>
        <sg-button [buttonStyle]="'light'">light</sg-button>
        <sg-button [buttonStyle]="'primary'" [disabled]="true"
          >disabled</sg-button
        >
      </div>
    </sg-simple-card>
  </div>
  <div class="col-md-6 col-sm-12">
    <sg-simple-card [title]="'Outline buttons'">
      <p class="card-desc">
        Propiedad input [buttonStyle]="'secondary--outline'"
      </p>
      <div class="buttons-items">
        <sg-button
          (clicked)="onClickButton('primary--outline')"
          [buttonStyle]="'primary--outline'"
          >primary</sg-button
        >
        <sg-button [buttonStyle]="'secondary--outline'">secondary</sg-button>
        <sg-button [buttonStyle]="'success--outline'">success</sg-button>
        <sg-button [buttonStyle]="'info--outline'">info</sg-button>
        <sg-button [buttonStyle]="'warning--outline'">warning</sg-button>
        <sg-button [buttonStyle]="'danger--outline'">danger</sg-button>
        <sg-button [buttonStyle]="'dark--outline'">dark</sg-button>
        <sg-button [buttonStyle]="'light--outline'">light</sg-button>
      </div>
    </sg-simple-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <sg-simple-card [title]="'Button sizes'">
      <p class="card-desc">Propiedad input [size]="'lg'"</p>
      <div class="buttons-items">
        <sg-button [size]="'lg'">large button</sg-button>
        <sg-button [size]="'md'">medium button</sg-button>
        <sg-button [size]="'sm'">small button</sg-button>
      </div>
    </sg-simple-card>
  </div>
  <div class="col-md-6 col-sm-12">
    <sg-simple-card [title]="'Block buttons'">
      <p class="card-desc">Propiedad input [block]="true"</p>
      <div class="grid gap-2">
        <sg-button [size]="'lg'" [block]="true">Block button</sg-button>
        <sg-button
          [buttonStyle]="'secondary--outline'"
          [size]="'sm'"
          [block]="true"
          >Block button small</sg-button
        >
      </div>
    </sg-simple-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <sg-simple-card [title]="'Default Alert'">
      <sg-alerts [message]="'este es un mensaje tipo primary'"></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo secondary'"
        [type]="'secondary'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo success'"
        [type]="'success'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo danger'"
        [type]="'danger'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo warning'"
        [type]="'warning'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo info'"
        [type]="'info'"
      ></sg-alerts>
    </sg-simple-card>
  </div>
  <div class="col-md-6 col-sm-12">
    <sg-simple-card [title]="'Dismissing'">
      <sg-alerts
        [message]="'este es un mensaje tipo primary'"
        [dismissible]="true"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo secondary'"
        [dismissible]="true"
        [type]="'secondary'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo success'"
        [dismissible]="true"
        [type]="'success'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo danger'"
        [dismissible]="true"
        [type]="'danger'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo warning'"
        [dismissible]="true"
        [type]="'warning'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo info'"
        [dismissible]="true"
        [type]="'info'"
      ></sg-alerts>
    </sg-simple-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <sg-simple-card [title]="'Con icono'">
      <sg-alerts
        [message]="'este es un mensaje tipo primary'"
        [dismissible]="true"
        [showIcon]="true"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo secondary'"
        [dismissible]="true"
        [showIcon]="true"
        [type]="'secondary'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo success'"
        [dismissible]="true"
        [showIcon]="true"
        [type]="'success'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo danger'"
        [dismissible]="true"
        [showIcon]="true"
        [type]="'danger'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo warning'"
        [dismissible]="true"
        [showIcon]="true"
        [type]="'warning'"
      ></sg-alerts>
      <sg-alerts
        [message]="'este es un mensaje tipo info'"
        [dismissible]="true"
        [showIcon]="true"
        [type]="'info'"
      ></sg-alerts>
    </sg-simple-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <sg-simple-card [title]="'SweetAlert'">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <p class="card-desc">SweetAlert success</p>
          <sg-button (clicked)="toggleAlertSuccess()">Alert success</sg-button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <p class="card-desc">Warning message and confirm message</p>
          <sg-button
            [msgTooltip]="'Tooltip in right'"
            [placeTooltip]="'right'"
            (clicked)="toggleAlertConfirm()"
            >Alert básico</sg-button
          >
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <p class="card-desc">Cuadro de dialogo posicionado</p>
          <sg-button (clicked)="toggleDialog()">Alert básico</sg-button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <p class="card-desc">
            Mensaje con width, padding y background custom
          </p>
          <sg-button (clicked)="toggleAlertCustom()">Alert básico</sg-button>
        </div>
      </div>
    </sg-simple-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <sg-simple-card [title]="'Tooltip'">
      <p class="card-desc">Ejemplo de tooltip</p>
      <div class="buttons-items">
        <sg-button
          [buttonStyle]="'secondary'"
          [msgTooltip]="'Tooltip on top'"
          [placeTooltip]="'top'"
          >Tooltip on top</sg-button
        >
        <sg-button
          [buttonStyle]="'info'"
          [msgTooltip]="'Tooltip in right'"
          [placeTooltip]="'right'"
          >Tooltip in right</sg-button
        >
        <sg-button
          [buttonStyle]="'secondary'"
          [msgTooltip]="'Tooltip'"
          [placeTooltip]="'auto'"
          >Tooltip auto</sg-button
        >
        <sg-button
          [buttonStyle]="'info'"
          [msgTooltip]="'tooltip on left'"
          [placeTooltip]="'left'"
          >Tooltip on left</sg-button
        >
        <sg-button
          [buttonStyle]="'secondary'"
          [msgTooltip]="'Tooltip'"
          [placeTooltip]="'bottom'"
          >Tooltip on bottom</sg-button
        >
        <div>
          <button
            type="button"
            class="btn btn-default btn-secondary mb-2"
            tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            placement="right"
            triggers="focus"
          >
            Tooltip on right
          </button>
        </div>
      </div>
    </sg-simple-card>
  </div>
</div>
