body {
  font-family: var(--sg-font-sans-serif);
  line-height: 1.5;
  font-weight: 400;
  background: var(--sg-bg-color);
  color: var(--sg-color-primary);
  font-size: var(--sg-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--sg-color-primary);
}

img,
svg {
  vertical-align: middle;
}

.list-unstyled {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar-xs {
  height: 2rem;
  width: 2rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.gap-2 {
  gap: 0.5rem !important;
}

.p-1r {
  padding: 1rem !important;
}

.card-desc {
  margin-bottom: 24px;
  color: var(--sg-color-p-card);
}

[type='button']:not(:disabled):not(.disabled),
[type='submit']:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.vert-align-middle {
  vertical-align: middle;
}

.text-muted {
  color: var(--sg-color-text-muted);
}
