body {
  font-family: var(--sg-font-sans-serif);
  line-height: 1.5;
  font-weight: 400;
  background: var(--sg-bg-color);
  color: var(--sg-color-primary);
  font-size: var(--sg-font-size);
}

.list-unstyled {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: transparent;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8125rem;
}

.font-size-22 {
  font-size: 22px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
