:root {
  --sg-color-primary: #495057;
  --sg-bg-color: #f8f8fb;
  --sg-color-blue-strong: #4458b8;

  --sg-color-gray: #90a4ae;
  --sg-color-gray-light: #e8edf0;
  --sg-color-danger: #f46a6a;
  --sg-color-item-header: #555b6d;
  --sg-font-size: 0.8125rem;
  --sg-color-bg-sidebar: #2a3042;
  --sg-color-title-menu: #6a7187;

  --sg-color-item-dd: #212529;
  --sg-color-bg-item-dd: #f6f6f6;
  --sg-color-text-muted: #74788d;
  --sg-color-text-primary: #556ee6;
  --sg-color-menu-item-hover: #1e2125;

  --sg-btn-primary: #556ee6;
  --sg-btn-primary-hover: #485ec4;
  --sg-btn-secondary: #74788d;
  --sg-btn-secondary-hover: #636678;
  --sg-btn-success: #34c38f;
  --sg-btn-success-hover: #2ca67a;
  --sg-btn-info: #50a5f1;
  --sg-btn-info-hover: #448ccd;
  --sg-btn-warning: #f1b44c;
  --sg-btn-warning-hover: #cd9941;
  --sg-btn-danger: #f46a6a;
  --sg-btn-danger-hover: #cf5a5a;
  --sg-btn-dark: #343a40;
  --sg-btn-link: #556ee6;
  --sg-btn-light: #eff2f7;

  --sg-alert-primary: #dde2fa;
  --sg-alert-primary-color: #33428a;
  --sg-alert-secondary: #e3e4e8;
  --sg-alert-secondary-color: #464855;
  --sg-alert-success: #d6f3e9;
  --sg-alert-success-color: #1f7556;
  --sg-alert-danger: #fde1e1;
  --sg-alert-danger-color: #924040;
  --sg-alert-warning: #fcf0db;
  --sg-alert-warning-color: #916c2e;
  --sg-alert-info: #dcedfc;
  --sg-alert-info-color: #306391;

  --sg-color-p-card: #74788d;

  --sg-color-item-menu: #a6b0cf;
  --sg-font-sans-serif: 'Poppins', sans-serif;

  --sg-bg-color-footer: #f2f2f5;
  --sg-items-color-footer: #74788d;
}
