:root {
  --sg-color-primary: #495057;
  --sg-bg-color: #f8f8fb;

  --sg-color-gray: #90a4ae;
  --sg-color-danger: #f46a6a;
  --sg-color-item-header: #555b6d;
  --sg-font-size: 0.8125rem;
  --sg-color-bg-sidebar: #2a3042;
  --sg-color-title-menu: #6a7187;

  --sg-color-item-menu: #a6b0cf;
  --sg-font-sans-serif: 'Poppins', sans-serif;

  --sg-bg-color-footer: #f2f2f5;
  --sg-items-color-footer: #74788d;
}
