:root {
  --sg-color-primary: #495057;
  --sg-bg-color: #f8f8fb;
  --sg-font-size: 0.8125rem;
  --sg-color-bg-sidebar: #2a3042;
  --sg-color-title-menu: #6a7187;

  --sg-color-item-menu: #a6b0cf;
  --sg-font-sans-serif: 'Poppins', sans-serif;
}
