<div class="topbar">
  <div class="navbar-header flex-space-between">
    <div class="box-flex">
      <button class="btn-nav btn-header font-size-22" type="button">
        <i class="bx bx-menu"></i>
      </button>
    </div>
    <div class="box-flex">
      <div class="btn-group-dropdown box-flex">
        <button
          class="btn-nav btn-header font-size-22 noti-icon"
          id="button-alignment"
          type="button"
        >
          <i class="bx bx-bell"></i>
          <sg-counter-badge>3</sg-counter-badge>
        </button>
        <ul class="sg-menu-dd sg-menu-dd--size list-unstyled">
          <div class="p-1r">
            <div class="flex-space-between">
              <h3>Notificaciones</h3>
            </div>
          </div>
          <li>
            <a class="notificacion-item" href="#">
              <div class="notificacion-item__container">
                <img
                  src="./assets/avatar-migudev.jpg"
                  alt="migudev"
                  class="rounded-circle avatar-xs"
                />
                <div class="notificacion-item__body flex-column">
                  <h6>Miguel Chinchay</h6>
                  <div class="font-size-12 text-muted">
                    It will seem like simplified English.
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="notificacion-item" href="#">
              <div class="notificacion-item__container">
                <img
                  src="./assets/avatar-girl.jpg"
                  alt="migudev"
                  class="rounded-circle avatar-xs"
                />
                <div class="notificacion-item__body flex-column">
                  <h6>Salena Layfield</h6>
                  <div class="font-size-12 text-muted">
                    If several languages coalesce the grammar
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="notificacion-item" href="#">
              <div class="notificacion-item__container">
                <img
                  src="./assets/avatar-migudev.jpg"
                  alt="migudev"
                  class="rounded-circle avatar-xs"
                />
                <div class="notificacion-item__body flex-column">
                  <h6>Miguel Chinchay</h6>
                  <div class="font-size-12 text-muted">
                    It will seem like simplified English.
                  </div>
                </div>
              </div>
            </a>
          </li>

          <li class="divider dropdown-divider"></li>
          <li>
            <a href="#"><i class="bx bxs-right-arrow-circle"></i> Ver todas</a>
          </li>
        </ul>
      </div>

      <div dropdown [autoClose]="true" class="btn-group-dropdown">
        <button
          dropdownToggle
          id="button-basic"
          aria-controls="dropdown-basic"
          class="btn-nav btn-header box-flex dropdown-toggle"
          type="button"
        >
          <img
            class="header-profile-user rounded-circle"
            src="../../../assets/user-5.jpeg"
            alt=""
          />
          <span>Miguel</span>
          <i class="bx bx-chevron-down"></i>
        </button>
        <ul
          *dropdownMenu
          id="dropdown-basic"
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem"><a class="dropdown-item" href="#">Perfil</a></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Configuración</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Seguridad</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
