<div class="topbar">
  <div class="navbar-header flex-space-between">
    <div class="box-flex">
      <button class="btn-nav btn-header font-size-22" type="button">
        <i class="bx bx-menu"></i>
      </button>
    </div>
    <div class="box-flex">
      <div class="btn-group-dropdown box-flex">
        <sg-navbar-item #itemNotificacion>
          <button
            class="btn-nav btn-header font-size-22 noti-icon"
            type="button"
          >
            <i class="bx bx-bell"></i>
            <sg-counter-badge>3</sg-counter-badge>
          </button>
        </sg-navbar-item>
        <ul
          class="sg-menu-dd sg-menu-dd--size list-unstyled {{
            itemNotificacion.dentro ? 'show' : ''
          }}"
        >
          <div class="p-1r">
            <div class="flex-space-between">
              <h3>Notificaciones</h3>
            </div>
          </div>
          <li>
            <a class="menu-item menu-item--notif" href="#">
              <div class="menu-item__container">
                <img
                  src="./assets/avatar-migudev.jpg"
                  alt="migudev"
                  class="rounded-circle avatar-xs"
                />
                <div class="menu-item__body flex-column">
                  <h6>Miguel Chinchay</h6>
                  <div class="font-size-12 text-muted">
                    It will seem like simplified English.
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="menu-item menu-item--notif" href="#">
              <div class="menu-item__container">
                <img
                  src="./assets/avatar-girl.jpg"
                  alt="migudev"
                  class="rounded-circle avatar-xs"
                />
                <div class="menu-item__body flex-column">
                  <h6>Salena Layfield</h6>
                  <div class="font-size-12 text-muted">
                    If several languages coalesce the grammar
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="menu-item menu-item--notif" href="#">
              <div class="menu-item__container">
                <img
                  src="./assets/avatar-migudev.jpg"
                  alt="migudev"
                  class="rounded-circle avatar-xs"
                />
                <div class="menu-item__body flex-column">
                  <h6>Miguel Chinchay</h6>
                  <div class="font-size-12 text-muted">
                    It will seem like simplified English.
                  </div>
                </div>
              </div>
            </a>
          </li>

          <li class="divider dropdown-divider"></li>
          <li>
            <a href="#"><i class="bx bxs-right-arrow-circle"></i> Ver todas</a>
          </li>
        </ul>
      </div>

      <div class="btn-group-dropdown">
        <sg-navbar-item #itemProfile>
          <button class="btn-nav btn-header box-flex" type="button">
            <img
              class="header-profile-user rounded-circle"
              src="assets/user-5.jpeg"
              alt=""
            />
            <span>Miguel</span>
            <i class="bx bx-chevron-down"></i>
          </button>
        </sg-navbar-item>
        <ul
          class="sg-menu-dd list-unstyled {{
            itemProfile.dentro ? 'show' : ''
          }}"
        >
          <li>
            <a class="menu-item" href="#">Perfil</a>
          </li>
          <li>
            <a class="menu-item" href="#">Configuración</a>
          </li>
          <li>
            <a class="menu-item" href="#">Seguridad</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li>
            <a class="menu-item" href="#">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
